name: CMake on multiple platforms

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        build_type: [Release]
        c_compiler: [gcc, clang]
        include:
          - os: macos-latest
            c_compiler: clang
            cpp_compiler: clang++
          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
          - os: ubuntu-latest
            c_compiler: clang
            cpp_compiler: clang++
          - os: macos-latest
            c_compiler: gcc
            cpp_compiler: g++-13

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"
          
      - name: Setup Just
        uses: extractions/setup-just@v2
        
      - name: Configure via Just
        run: >
          just configure "Ninja Multi-Config"\
            "-DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}" \
            "-DCMAKE_C_COMPILER=${{ matrix.c_compiler }}" \
            "-DCMAKE_BUILD_TYPE=${{ matrix.build_type }}"

      - name: Build via Just
        run: just build ${{ matrix.build_type }}

      - name: Test via Just
        run: just test ${{ matrix.build_type }}
